{% extends "layout.html" %}

{% block title %}Yo{% endblock %}

{% block main %}
<h1>Yo</h1> <h3>Welcome to my super amazing tips calculator. Press the button below to get going.</h3>
<br><p>For this calculator to work best, please have your entire tip fund counted to the nearest $1. Put any leftover change back in the tip jar for the next time you do the tips. In addition, print out your Tip Distributon Report (which honestly sucks, like can we talk for a sec about how that thing doesn't calculate tips but just gives you the hours that your partners worked...).</p>
<a class="btn btn-success" href="/entry">Anyway, this is the button</a>
<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><img style="width: 30vh; " src="/static/bean2.gif"></a>
{% endblock %}